.hero-main {
  background: url("../../assets/Background.png");
  background-color: rgba(198, 248, 6, 0.2);
  height: 100vh;
}

.hero-logo {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.hero-logo-img {
  height: 10rem;
  margin-top: 17rem;
  box-shadow: 0px 0px 10000px 150px black;
  background-color: black;
}

.coming-soon-container {
  height: 6rem;
  margin-top: 4rem;
  background-color: #c6f806;
  transform: rotate(-5deg);
  display: flex;
  width: 110vw;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  left: -20px;
}

.coming-soon {
  display: flex;
  white-space: nowrap;
  animation: moveText 30s linear infinite;
}

.coming-soon div {
  color: black;
  font-weight: 800;
  font-size: 3rem;
  font-family: "Druk Wide Trial", sans-serif;
}

@keyframes moveText {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 768px) {
  .hero-logo-img {
    height: 7rem;
    margin-top: 10rem;
  }

  .coming-soon-container {
    width: 100%;
    left: 0;
  }

  .coming-soon div {
    font-size: 2.5rem;
  }
}

